NEXT_PUBLIC_SUPABASE_URL=https://uvjgnuiqirrbwgirfpfw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2amdudWlxaXJyYndnaXJmcGZ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk1MTY5NzMsImV4cCI6MjEwNTA5Mjk3M30.I-Kr6O-V7iUAMPV7BazuhXIGoSI7AoOR4jmw0bT2bRw
